@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

h1{
    margin: 1rem;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
}

.mat-card{
    max-width: 20rem;
    min-width: 20rem;
}