nav{
    background-color: #141313;
    color: #FFFFFF;
}

footer{
    background-color: #141313;
    color: #FFFFFF;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    text-align: center;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}